# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# VENV
# =========================
venv/
.env/

# =========================
# ENV FILES
# =========================
.env
.env.local

# =========================
# DATABASE
# =========================
*.db
*.sqlite3

# =========================
# LOGS
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# PYTEST
# =========================
.pytest_cache/

# =========================
# BUILD
# =========================
dist/
build/

# =========================
# CACHE
# =========================
.cache/

# =========================
# UVICORN
# =========================
*.pid

# =========================
# MISC
# =========================
*.tmp
*.bak